.exam {
  width: 90%;
  display: flex;
  margin-top: 20px;
}

.exam-right {
  width: 25%;
  height: 300px;
  margin-left: 25px;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.exam-right-question-num {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
}
.exam-right-question {
  border: 1.5px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.exam-right-question p {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  margin-top: 10px;
}

.exam-right-question-item {
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 4px;
  margin-bottom: 10px;
}

.exam-right-question-item p {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #ccc;
  border-radius: 10px;
}

.exam-left {
  width: 75%;
  margin-left: 25px;
}

.exam-left-quesion {
  margin-bottom: 20px;
  border: 1.5px solid #ccc;
  border-radius: 15px;
}

.exam-left-quesion-top {
  display: flex;
}

.exam-left-quesion p {
  /* padding-top: 10px; */
  padding-right: 10px;
  margin: 0px;
}

.exam-left-quesion img {
  width: 80%;
  height: auto;
}

.exam-left-quesion-bottom {
  margin-top: 0px;
}

.exam-left-quesion-answer {
  display: flex;
}

.exam-left-quesion-answer input {
  margin: 10px;
  margin-bottom: auto;
}

.exam-left-quesion-answer label {
  margin-top: 3px;
  margin-bottom: 10px;
  margin-right: 10px;
  flex-wrap: wrap;
}

.label-style .styleP p {
  margin-top: 0;
  margin-right: 0;
  margin-left: 5px;
  padding: 0;
}
.custom-solution {
  border: 1.5px solid #ccc;
  border-radius: 20px;
  background: #e3ece5;
  width: 95%;
  margin: auto;
  margin-bottom: 16px;
}
